
body {
  text-align: center;
  font-family: 'Ubuntu', monospace;
}

#element::-webkit-scrollbar {
    display: none;
}
h1 {
  border-radius: 10px;
  padding: 1px 5px 1px 5px; /* top,right,bottom,left */
  margin: 8px;
  text-transform: capitalize;
  color: #111111;
  background-color: #FFDC00;
  font-family: 'Ubuntu', sans-serif;
}
h2{
  text-transform: capitalize;
  color: #0074D9;
  font-family: 'Ubuntu', sans-serif;
}
ul{
  list-style-position: inside;
  list-style-type: square;
}
hr{
  border: 1px solid red;
}
.paragraph {
  padding: 1px 5px 1px 5px; /* top,right,bottom,left */
  margin: 8px;
  border-radius: 10px;
  background-color: #01FF70;
  text-indent: 10px;
}
.paragraph .baslik {
  font-weight: bold;
  font-style: italic;
  background-color: orange;
  color:black;
}

.e{ /* emphasis the word */
  color: #F012BE;
  font-weight: bold;

}
